#top-menu {
    display: block;
    padding: 2rem;
    padding-top: 1rem;
}

#top-menu>* {
    display: flex;
    align-content: center;
    justify-content: center;
}

#top-menu[state="0"] {
    display: block;
}

#top-menu[state="1"] {
    position: fixed;
    top: 0;
    z-index: 5001;
    padding: 0;
}

#top-menu[state="1"]>* {
    display: none;
}

#top-menu[state="2"] {
    display: block;
    position: sticky;
    top: 2.5rem;
    margin: 0;
    z-index: 4999;
    background-color: color-mix(in srgb, var(--color-bg) 90%, #FFFFFF00);
    border-bottom: 2px solid var(--color-main);
}

#top-menu>div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#connection-panel {
    height: 5rem;
}

#connection-panel>div {
    padding-bottom: 0.25rem;
}

#connection-panel>div>label {
    display: inline-block;
    width: 8rem;
}

#top-arrow {
    display: block;
    position: fixed;
    top: 9.5rem;
    margin-left: 4rem;
    margin-top: 0.5rem;
}

#top-menu[state="1"]>#top-arrow {
    display: block;
    position: fixed;
    top: 0.625rem;
    margin-left: 4rem;
    margin-top: 0;
    padding-top: 0;
}