body {
    --color-bg: #FFFFFF;
    --color-main: #220;
    margin: 0;
}

/* #connection-info {
    --bg: #BA0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: var(--bg);
}

#connection-info>div {
    padding: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: min(calc(100% - 4rem), 44rem);
} */